
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ak's Blog</title>
    <link rel="icon" type="image/ico" href="static/img/Ak.png" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/js/bootstrap.min.js" rel="stylesheet">
    <link href="/static/bootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/blog.css">
  </head>
  <body >


    <!-- As a heading -->
    <div class="navbar">

    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="#">Akshay's Blog_</a>
    </nav>

  </div>
<div class="container">
    {% for post in posts %}
    <div class="jumbotron">

        <div class = "post">
            <h2><a href="#">{{ post.title }}</a></h2>
            <p class = "font-italic">author : {{post.author}}</p>
            <p>created: {{ post.created_date }}</p>
            <p class="text">{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
        <hr>
    {% endfor %}


    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->


    </div>

    <footer class="page-footer font-small cyan darken-3">

        <!-- Footer Elements -->
        <div class="container">

          <!-- Grid row-->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">

                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100004673167174"target="_blank">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://www.twitter.com/_akshayauti" target="_blank">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href="https://plus.google.com/114292696753375995561" target="_blank">
                  <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic" href="https://www.linkedin.com/in/akshay-auti-330b91147" target="_blank">
                  <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/akshayauti_" target="_blank">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Github-->
                <a class="git-ic" href="https://www.github.com/akshayauti">
                  <i class="fab fa-github fa-lg white-text fa-2x"> </i>
                </a>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="/"> akshayauti</a>
        </div>
        <!-- Copyright -->

      </footer>

      <!-- Footer -->

    </div>
  </body>
</html>
